appdata==1.2.0
appnope==0.1.0
astroid==2.4.2
attrs==20.2.0
backcall==0.2.0
certifi==2020.6.20
chardet==3.0.4
Click==7.0
colorama==0.4.3
decorator==4.4.2
Deprecated==1.2.10
idna==2.8
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.5.4
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
lice==0.6
loguru==0.4.1
mccabe==0.6.1
mypy==0.782
mypy-extensions==0.4.3
packaging==20.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.7
ptyprocess==0.6.0
py==1.9.0
PyGithub==1.53
Pygments==2.7.1
PyJWT==1.7.1
pylint==2.6.0
pyparsing==2.4.7
pytest==6.1.1
python-dateutil==2.8.1
pyzmq==19.0.2
requests==2.21.0
six==1.15.0
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.24.3
wcwidth==0.2.5
wrapt==1.12.1
yapf==0.30.0
