attrs==20.3.0
bleach==3.2.1
certifi==2020.11.8
chardet==3.0.4
Click==7.0
colorama==0.4.3
Deprecated==1.2.10
docutils==0.16
idna==2.10
iniconfig==1.1.1
keyring==21.5.0
lice==0.6
mock==4.0.2
packaging==20.4
pkginfo==1.6.1
pluggy==0.13.1
py==1.9.0
PyGithub==1.53
Pygments==2.7.2
PyJWT==1.7.1
pyparsing==2.4.7
pytest==6.1.1
readme-renderer==28.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
toml==0.10.2
tqdm==4.51.0
urllib3==1.25.11
webencodings==0.5.1
wrapt==1.12.1
